<div class="header-menu-wrap clearfix">
    <div class="container">
        <div class="main-navigation  float-left">
            <nav class="main-nav ul-li">
                <ul id="main-nav" class="navbar-nav text-capitalize clearfix">
                    <li>
                        <a href="{% url 'home:homePage' %}">Home</a>
                    </li>
                    <li class="dropdown">
                        <a href="#">About</a>
                        <ul class="dropdown-menu clearfix">
                            <li><a href="{% url 'home:aboutUs' %}">Who we are?</a></li>
                            <li><a href="{% url 'home:faq' %}">FAQ</a></li>

                        </ul>
                    </li>
                    <li>
                        <a href="{% url 'home:ourServices' %}">Services</a>
                    </li>
                    <li class="dropdown">
                        <a href="#">Tours</a>
                        <ul class="dropdown-menu clearfix">
                            <li><a href="{% url 'tours:tours' %}">All tours</a></li>
                            <li><a href="{% url 'tours:tours' %}?Activities=trekking">Trekking</a></li>
                            <li><a href="{% url 'tours:tours' %}?Activities=hiking">Hiking</a></li>
                            <li><a href="{% url 'tours:tours' %}?Activities=jeep-tour">Jeep Tour</a></li>


                        </ul>
                    </li>
                    <li>
                        <a href="{% url 'blog:blog' %}">Blog</a>
                        
                    </li>
                    
                    <li>
                        <a href="{% url 'home:contacts' %}">Contacts</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="header-cart-login float-right p-0">
            <div class="top-submit">
                <a href="{% url 'tours:tours' %}"><i class="fa fa-search"></i>Find Tour</a>
            </div>
        </div>
    </div>
</div>