{% extends 'base.html' %}{% load static %}
{%block title%}{{SEO.Title}}{%endblock%}

{%block addToHeader %}

<style>
  .banner-wrapper {
    background: rgba(0, 0, 0, 0) url(/static/pakoltravel/pakol-index.jpg) no-repeat scroll center center;
    background-size: cover;
    padding: 150px 0;
  }
  .parallax-banner {
    background: rgba(0, 0, 0, 0) url(/static/pakoltravel/video-background-min.jpg) no-repeat scroll center center;
  }
  .client-bg {
      background: rgba(0, 0, 0, 0) url(/static/pakoltravel/feedback-background-min.jpg) repeat scroll center center;
      position: relative;
  }
</style>


{%endblock%}

{%block mainWrapper %}
          
      <!-- BANNER STRAT -->
      <section class="home-banner banner-wrapper">
        <div class="banner">
          <div class="banner-detail text-center">
            <div class="container">
              <div class="row align-items-center">
                <div class="col-12">
                  <div class="banner-detail-inner slider-animation animated-1"> 
                    <div class="slogan">The best tour experience</div>
                    <h1 class="banner-title cd-headline zoom">
                      Book Your Trip to
                      <span class="cd-words-wrapper">
                        <b class="is-visible">Pamir</b>
                        <b>Rasht</b>
                        <b>Khujand</b>
                        <b>Wakhan</b>
                        <b>Dushanbe</b>
                      </span>
                    </h1>
                    <p class="">
                      The best tours and activities to Pamir of Tajikistan! 
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tour-search tour-wrapper mt-40">
            <div class=" main-form tour-search-detail">
              <div class="container">
                
                
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- BANNER END --> 

      <!-- CONTAIN START -->

      

      <!-- Popular Tour Packages Start -->
      <section class="ptb-100">
        <div class="container">
          <div class="row no-gutters">
            <div class="col-12">
              <div class="heading-part text-center mb-30 mb-sm-20">
                <h2 class="main_title heading mb-15">Popular Tour <span>Packages</span></h2>
                <p class="heading-des">
                  Below are the most popular tours that majority of tourists take.
                </p>
              </div>
            </div>
          </div>
          <div class="row">
            <div id="packages-part" class="packages-part owl-carousel">
              {% for tour in tours %}
              <div class="item"> 
                <div class="card packages-box box-shadow overflow-hidden">
                  <div class="package-img">
                    <a href="{{tour.get_absolute_url}}">
                      <img alt="{{tour.Title}}" src="{{tour.Image.url}}">
                      <div class="effect"></div>
                    </a>
                  </div>
                  <div class="card-body p-25 p-xs-15">
                    <div class="packages-details">
                      <h4><a href="{{tour.get_absolute_url}}" class="title">{{tour.Title|truncatechars:28 }}</a></h4>
                      
                      <div class="d-flex align-items-center mt-2 mt-sm-4"> 
                        <div class="tour-info"> 
                          <ul>
                            <li>
                              <div class="days"><span><i class="far fa-clock"></i></span> {{tour.NumberOfDays}} Days,{{tour.NumberOfNights}} Nights</div>
                            </li>
                            <li>
                              <div class="places"><span><i class="fas fa-map-marker-alt"></i></span> {{tour.Destination}}</div>
                            </li>
                          </ul>
                        </div> 
                        <div class="price-box ml-auto mt-0 border-left pl-2 pl-lg-5 pl-md-3 pl-sm-5 text-center"> 
                          <div class="price-text mb-1">Price</div> 
                          <div class="price mb-0">${{tour.Price|floatformat:"0"}}</div> 
                        </div>
                      </div>
                      <div class="packages-btn mt-30 mt-xs-20">
                        <a class="btn btn-color mr-3" href="{{tour.get_absolute_url}}">Book Now</a>
                        <a class="btn btn-light" href="{{tour.get_absolute_url}}">View Detail</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </section>
      <!-- Popular Tour Packages End -->

      

      <section>
        <div class="parallax-banner ptb-100">
          <div class="container">
            
            <div class="about-detail">
              <div class="about-part">
                <div class="about-part-1"> 
                  <div class="row">
                    <div class="col-xl-12 col-lg-12 order-lg-12 text-center">
                      <div class="parallax-delail text-center color-white">
                        <div class="parallax-title ">Take a virtual tour </div>
                        <br><br><br><br><br><br>
                        <div class="parallax-subtitle">Video <span>Tour</span></div>
                      </div>
                      <div class="image-part mb-md-30">  
                          <!-- <img alt="Pakol Travel" src="/static/pakolak/images/about-sub-2.jpg"> -->
                          <div class="video-bg">
                            <div class="video-delail text-center">
                              <div class="video-block">
                                <a class="popup-youtube" href="https://www.youtube.com/watch?v=_-6CyjXvntw">
                                  <span></span>
                                </a>
                              </div>
                            </div>
                          </div>
                      </div>
                    </div>
                    
                  </div>
                </div>
                
              </div>
            </div>

          </div>
        </div>
      </section>

      {% include 'tours/sections/section-destinations-list.html' %}

      <!-- counter Start -->
      <!-- <section class="counter-area-home">
        <div class="counter-area number-counters ptb-100">
          <div class="container">
            <div class="row">
              <div class="col-lg-3 col-md-6 col-12 mb-md-30 text-center"> 
                <div class="counters-item">
                  <div class="counter-icon clients">
                    <img alt="Pakol Travel" src="/static/pakolak/images/counter_icon_1.png">
                  </div>
                  <div class="count-text"><span class="counter">1323</span><span>+</span></div>
                  <div class="info-text">Happy Clients</div>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-12 mb-md-30 text-center"> 
                <div class="counters-item">
                  <div class="counter-icon project">
                    <img alt="Pakol Travel" src="/static/pakolak/images/counter_icon_2.png">
                  </div>
                  <div class="count-text"><span class="counter">20</span><span>+</span></div>
                  <div class="info-text">Amazing Tours</div>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-12 mb-sm-30 text-center"> 
                <div class="counters-item">
                  <div class="counter-icon advisors">
                    <img alt="Pakol Travel" src="/static/pakolak/images/counter_icon_3.png">
                  </div>
                  <div class="count-text"><span class="counter">150</span><span>+</span></div>
                  <div class="info-text">Customer Review</div>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-12 text-center"> 
                <div class="counters-item">
                  <div class="counter-icon achived">
                    <img alt="Pakol Travel" src="/static/pakolak/images/counter_icon_4.png">
                  </div>
                  <div class="count-text"><span class="counter">500</span><span>+</span></div>
                  <div class="info-text">Tour Booking</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section> -->
      <!-- counter End -->

      <!-- Our Latest Tweets Start -->
      <section class="client-bg">
        <div class="ptb-100">
          <div class="our-tweets">
            <div class="container">
              <div class="row no-gutters">
                <div class="col-12">
                  <div class="heading-part text-center mb-30 mb-sm-20">
                    <h2 class="main_title heading color-white mb-15">Clients' <span>Feedbacks</span></h2>
                    <p class="heading-des color-white">
                      Here are some of the feedbacks of our clients who traveled with us!
                    </p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div id="client" class="owl-carousel client-slider text-center">
                  {% for fb in feedbacks %}
                  <div class="item ">
                    <div class="client-detail">
                      <div class="tweet-icon">
                          <img style="width:130px; height:130px; border-radius: 50%;" src="{{fb.Image.url }}" alt="{{fb.Client}}">
                      </div>
                      <div class="client-inner-detail ">
                        <div class="quote">
                          <p>
                            {{fb.Content}}
                          </p>
                        </div>
                        <div class="designation color-white">Date visited: {{fb.Created|date:"d M Y"}}  </div>
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Our Latest Tweets End -->

      <!--Blog Block Start -->
      <section class="ptb-100">
        <div id="blog-section">
          <div class="container">
            <div class="row no-gutters">
              <div class="col-12">
                <div class="heading-part text-center mb-30 mb-sm-20">
                  <h2 class="main_title heading mb-15">Recent <span>Articles</span></h2>
                  <p class="heading-des">Read about Pamir in our blog section.</p>
                </div>
              </div>
            </div>
            <div class="blog row">
              <div id="blog" class="owl-carousel owl-slider">
                {% for post in posts %}
                <div class="item">
                  <div class="blog-item box-shadow">
                    <div class="blog-media"> 
                      <img src="{{post.Image.url }}" alt="{{post.Title}}">
                      <div class="blog-effect"></div> 
                      <a href="{{post.get_absolute_url}}" title="Click For Read More" class="read">&nbsp;</a>
                    </div>
                    <div class="blog-detail p-25 p-xs-15">
                      <div class="post-info">
                        <ul class="d-flex align-items-center ">
                          <li>
                            <div class="post-date">
                              <span><i class="far fa-calendar-alt"></i></span> {{post.Created|date:"M d, Y"}}
                            </div>
                          </li>
                          <li>
                            <div class="post-user">
                              <a href="#"><span><i class="far fa-user"></i></span> {{post.author}}</a>
                            </div>
                          </li>
                        </ul>
                      </div>
                      <div class="blog-title">
                        <a href="{{post.get_absolute_url}}">{{post.Title}}</a>
                      </div>
                      <p class="dec mb-3">{{post.ShortDesc}}</p>
                      <a class="read-more" href="{{post.get_absolute_url}}">Read More <i class="fas fa-chevron-right"></i></a>
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--Blog Block End -->

      <!-- CONTAINER END -->



{% endblock %}
{% block SMMMetaTags %}{% include 'home/SEO.html' %}{% endblock SMMMetaTags %}
