
{% extends 'base.html' %}
{% load static %} 

{%block title%}Thanks for booking with us! {%endblock%}
		{% block mainWrapper %}
	
		<section id="breadcrumb" class="breadcrumb-section position-relative" data-background="/static/img/banner/banner-bg.jpg">
			<span class="breadcrumb-overlay position-absolute"></span>
			<div class="container">
				<div class="breadcrumb-content text-center headline">
					<h2>
						Email Sent!
					</h2>
					<div class="breadcrumb-item ul-li">
						<ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
							<li class="breadcrumb-item"><a href="#">Contacts</a></li>
							<li class="breadcrumb-item active" aria-current="page">Email sent</li>
						</ul>
					</div>
				</div>
			</div>
		</section>
		<!-- End of breadcrumb section
		   ============================================= -->
		<!-- Start of activity details section
		   ============================================= -->
		<section id="activity-details" class="activity-details-section">
			<div class="container">
				<div class="activity-details-content">
					<div class="row">
						<div class="col-lg-9">
							<div class="activity-block style-2">
        
								<div class="activity-block-header">
									<a data-toggle="collapse" data-parent="#features" data-target="#features-block" aria-controls="features-block" href="javascript:void(0);" aria-expanded="true" class="">
										<h4 class="activity-block-title">Email Success!</h4>
									</a>
								</div>
								<div id="features-block" class="panel-collapse collapse show" aria-labelledby="features-block">
									<div class="block-body">
                                        <p>Thank you for email!</p>
                                        <p>We will respond to the email you specified in 
                                            your contact form during the 24 hours.
                                        </p>
									</div>
								</div>
	
							</div>
							

						</div>

						<!-- Sidebar  -->
						<div class="col-lg-3">
							<div class="activity-details-widget">
								
								<div class="activity-widget-item">
									<div class="activity-latest-widget headline">
										<h3 class="widget-title">Other Activities</h3>
										<div class="activity-latest-item">
											{% for trip in tours %}
											<div class="activity-latest-img-text">
												<div class="activity-latest-img float-left">
													<img src="{{trip.image_thumbnail.url}}" alt="{{trip.Title}}">
												</div>
												<div class="activity-latest-text">
													<a href="{{trip.get_absolute_url}}">
														{{trip.Title}}
													</a>
													<i>Price</i>
													<span>${{trip.Price|floatformat:"0"}}</span>
												</div>
											</div>
											{% endfor %}
										</div>
									</div>
								</div>
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
        
		{% endblock mainWrapper %} 	
