{% extends 'base.html' %}{% load static %}
{%block title%}{{SEO.Title}}{%endblock%}
    {%block mainWrapper %}

    <section id="breadcrumb" class="breadcrumb-section position-relative" data-background="/static/img/banner/banner-bg.jpg">
        <span class="breadcrumb-overlay position-absolute"></span>
        <div class="container">
            <div class="breadcrumb-content text-center headline">
                <h2>About Us</h2>
                <div class="breadcrumb-item ul-li">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Library</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- About  -->
    <section id="about-section" class="about-section">
        <div class="container">
            <div class="row row-xl-wide row-50 align-items-center align-items-xl-start">
                <div class="col-md-6">
                    <div class="figure-box parallax-scene-js">
                        <div class="figure figure-1 layer" data-depth="-.2"></div>
                        <div class="figure figure-2 layer" data-depth=".3"></div><img class="figure-image layer" src="/static/img/about/about-4.jpg" alt="About Pakol Travel" width="460" height="223" data-depth=".1" />
                        <div class="figure figure-3 layer" data-depth="-.25"></div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="section-title  headline title-style-two position-relative">
                        <p class="title-watermark">About us</p>
                        <span>Who we are?</span>
                        <h2>We are a reliable agency in all travel business. </h2>
                    </div>
                    {% autoescape off %}
                        {{page.Content}}
                    {% endautoescape %}
                    <div class="group-fact-counter">
                        <!-- Counter-->
                        <div class="fact-counter fact-counter-secondary">
                            <div class="fact-counter-main">
                                <div class="counter counter-decimal animated-first">1.5</div>
                                <div class="counter-postfix">K</div>
                            </div>
                            <p class="fact-counter-title">Satisfied clients</p>
                        </div>
                        <!-- Counter-->
                        <div class="fact-counter fact-counter-primary">
                            <div class="fact-counter-main">
                                <div class="counter animated-first">11</div>
                                <div class="counter-postfix">+</div>
                            </div>
                            <p class="fact-counter-title">Activities &amp; Tours</p>
                        </div>
                        <!-- Counter-->
                        <div class="fact-counter fact-counter-primary">
                            <div class="fact-counter-main">
                                <div class="counter animated-first">18</div>
                                <div class="counter-postfix">+</div>
                            </div>
                            <p class="fact-counter-title">Professional Guides</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Features -->
    <section class="features-section-2">
        <div class="container">
            <div class="row clearfix">

                <!-- Title Column -->
                <div class="title-column col-lg-5 col-md-12 col-sm-12">
                    <div class="section-title  headline title-style-two position-relative">
                        <p class="title-watermark">Why Us</p>
                        <span>Why You Should Choose Us</span>
                        <h2>We makes finding and booking your tours and excursions an enjoyable experience. </h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </p>
                    </div>
                </div>

                <!-- Blocks Column -->
                <div class="blocks-column col-lg-7 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <div class="row clearfix">

                            <!-- Feature Block -->
                            <div class="feature-block col-lg-6 col-md-6 col-sm-12">
                                <div class="inner-box">
                                    <i class="icon flaticon-adoption"></i>
                                    <div class="content">
                                        <h5><a href="#">For Whole Family</a></h5>
                                        <div class="text">We offer travel services for your whole family.</div>
                                    </div>
                                </div>
                            </div>

                            <!-- Feature Block -->
                            <div class="feature-block col-lg-6 col-md-6 col-sm-12">
                                <div class="inner-box">
                                    <i class="icon flaticon-planet-earth"></i>
                                    <div class="content">
                                        <h5><a href="#">Worldwide Service</a></h5>
                                        <div class="text">We have hundreds of agencies around the world.</div>
                                    </div>
                                </div>
                            </div>

                            <!-- Feature Block -->
                            <div class="feature-block col-lg-6 col-md-6 col-sm-12">
                                <div class="inner-box">
                                    <i class="icon flaticon-map"></i>
                                    <div class="content">
                                        <h5><a href="#">All Destinations</a></h5>
                                        <div class="text">We have activities and services all over the world.</div>
                                    </div>
                                </div>
                            </div>

                            <!-- Feature Block -->
                            <div class="feature-block col-lg-6 col-md-6 col-sm-12">
                                <div class="inner-box">
                                    <i class="icon flaticon-happiness"></i>
                                    <div class="content">
                                        <h5><a href="#">Satisfaction</a></h5>
                                        <div class="text">We offer an unforgettable holiday experience.</div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    
    {% include 'home/section-team.html' %}
    {% endblock mainWrapper %}