{% extends 'base.html' %}{% load static %}
{%block title%}{{SEO.Title}}{%endblock%}
    {%block mainWrapper %}
        <!-- Bread Crumb STRAT -->
        <section class="bread bread-banner">
            <div class="container">
            <div class="bread-detail text-center d-md-flex align-items-center justify-content-between">
                <h4 class="bread-title mb-3 mb-md-0">Request for a service</h4>

                <div class="bread-crumb">
                <ul>
                    <li class="breadcrumb-item"><a href="{% url 'home:homePage' %}"><i class="fa fa-home"></i> Home</a></li>
                    <li class="breadcrumb-item active"><a href="#">Request</a></li>
                </ul>
                </div>
            </div>
            </div>
        </section>
        <!-- Bread Crumb END -->


        <!-- Contact Us Start  -->
        <section class="ptb-100">
        <div class="container">
            <div class="row no-gutters">
            <div class="col-12">
                <div class="heading-part text-center mb-30 mb-sm-20">
                <h2 class="main_title heading mb-15">Send us a  <span>request!</span></h2>
                </div>
            </div>
            </div>
            <div class="main-form">
            <form action="{% url 'home:requestPage' %}" method="POST" name="contactform">{% csrf_token %}
                <div class="row">
                <div class="form-group col-md-6 mb-30">
                    <div class="input-box">
                    <input class="form-control" type="text" required placeholder="Name" name="name">
                    </div>
                </div>
                <div class="form-group col-md-6 mb-30">
                    <div class="input-box">
                    <input class="form-control" type="email" required placeholder="Email" name="email">
                    </div>
                </div>
                <!-- <div class="form-group col-md-6">
                    <div class="input-box">
                    <input class="form-control" type="text" required placeholder="Contact Number" name="phone">
                    </div>
                </div>
                <div class="form-group col-md-6 mb-30">
                    <div class="input-box">
                    <input class="form-control" type="text" required placeholder="Website" name="website">
                    </div>
                </div> -->
                <div class="form-group col-12 mb-30">
                    <div class="input-box">
                    <textarea class="form-control" required placeholder="Message" rows="6" cols="30" name="message"></textarea>
                    </div>
                </div>
                <div class="col-12">
                    <div class="text-center">
                    <button type="submit" name="submit" class="btn btn-color">Submit</button>
                    </div>
                </div>
                </div>
            </form>
            </div>
        </div>
        </section>
        <!-- Contact Us block End  -->

    {% endblock mainWrapper %}
    {% block SMMMetaTags %}{% include 'home/SEO.html' %}{% endblock SMMMetaTags %}
