{% for itinerary in itineraries %}
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading{{ itinerary.id }}">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ itinerary.id }}" aria-expanded="true" aria-controls="collapseOne" style="text-transform: none; color: #70778b; font-weight: unset;">
                    {{ itinerary.Title }}
                </a>
            </h4>
        </div>
        <div id="collapse{{ itinerary.id }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{ itinerary.id }}">
            <div class="panel-body">
                {% if itinerary.Image %}
                <img src="{{ itinerary.Image.url }}" width="100%" alt="">
                {% endif %}
                {{ itinerary.Description }}
            </div>
        </div>
    </div>
    
    {% empty %}
        <p>
            <i style="font-size: smaller; color:grey;"> 
                No itineraries have been added for this tour yet.
            </i>
        </p>
    {% endfor %}