{% extends 'base.html' %}
{% load static %}{% load i18n %}
			{% block title %}{{tour.Title}} | {% trans 'Tours' %} - Pakol Travel{% endblock title %}

			{% block addToHead %}
			<style>
				/* section.tr-single-detail {
					position: relative; 
				} */

				.tr-single-box {
					box-shadow: 0 3px 3px 0px rgba(0, 0, 0, 0.1);
					border: none;
				}
				.affix {
					top:48px;
					width: 100%;
					z-index: 1 !important;
				}
			
				.affix ~ .container-fluid {
					position: relative;
					top: 50;
				}
				#tourmenu nav li .active {
					background-color: blue !important;
				}

				.affix-bottom {position: absolute}

				/* Accordion settings */
				/* @import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"); */
					.panel-title > a:before {
						float: right !important;
						font-family: FontAwesome;
						content:"\f068";
						padding-right: 5px;
					}
					.panel-title > a.collapsed:before {
						float: right !important;
						content:"\f067";
					}
					.panel-title > a:hover, 
					.panel-title > a:active, 
					.panel-title > a:focus  {
					text-decoration:none;
					}

					/* #myTourMenu > ul > li.active{
						background: green !important;
					} */
					#Exclusions li:before {content: "\2715";}
					#Inclusions li:before {content: "\2611";}
					#Highlights li:before {content: "\2605"; }
					
					.similar-item {
						margin-bottom: 20px;
					}
					.similar-item > div {
						/* padding-bottom: 30px;  */
						/* padding-top:30px; */
						border-radius: 6px;
						transition: box-shadow .2s;
						box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
						-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
						-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

					}
					.similar-item>div:hover{
						box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 10px 25px 0 rgba(0, 0, 0, 0.3);
						box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 10px 25px 0 rgba(0, 0, 0, 0.3);
						-moz-box-webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 10px 25px 0 rgba(0, 0, 0, 0.3);
					}
					.similar-item > div > h5 > a {
						display: inline-block;
						margin:0;
						padding:0px 5px 10px 10px;
					
					}
					.similar-item-price {
						position: relative;
						margin-top: -35px;
						color: white;
						float: right;
						font-size: 10px;
						font-style: italic;
						background-color:#0fb76b;
						padding: 1px 5px;
						margin-right: 10px;
						border-radius: 0 6px 0 6px;
					}

					
					
					.tour-activities {
						position: absolute;
						font-size: 10px;
						background-color: orange;
						color: white;
						padding: 2px 5px;
						top: 5%;
						left: 20px;
						display: inline-block;
						font-style: italic;
						border-radius: 0 6px 0 6px;
					}
			</style>
			
			
  			{% endblock addToHead %} 	
			{% block changeBodyProperty %}
			data-spy="scroll" data-target="#tourmenu" data-offset="100"
			style = "position: relative; "
			{% endblock %}
			
			{% block mainWrapper %}
			<script>
				window.addEventListener("hashchange", function () {
					window.scrollTo(window.scrollX - 0, window.scrollY - 150);
				});
			</script>
			<!-- start Main Wrapper -->
			<!-- ======================= Start Banner ===================== -->
			<section class="page-title-banner" style="background-image:url({{tour.Image.url}}); height: 450px" >
				<div class="container">
					<div class="row">
						<div class="tr-list-detail">
							<div class="tr-list-info">
								<br> <br>
								<h2 style="color: white;">{{tour.Title}}</h2>
								<p>{{tour.Duration}} {% trans 'days' %} 
									{% for tourActivity in tour.tourActivities.all %}
										{{tourActivity}} {% if not forloop.last  %},{%endif   %}
									{% endfor %}
								</p>
								<p><i class="glyphicon glyphicon-map-marker"></i>
								{{tour.Destination.Area}}, {{tour.Destination.Country}}
								</p>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- ======================= End Banner ===================== -->

				
			<!-- ============== Tour Detail ====================== -->	
			<section class="tr-single-detail gray-bg" style="padding-top:0px; margin-top:0px;">
				
					
				
				<div class="container">
					<div class="row">
							<div class="col-md-12">
								<!-- CSS for tour menu not working -->
								
								<nav id="tourmenu" class="navbar navbar-default hidden-xs" data-spy="affix" data-offset-top="400" data-offset-bottom="600" 
									style="padding-left:0px; margin-top:20px;  margin-left:-14px;">
									<div class="container-fluid">
										<div class="navbar-header">
										<button type="button" class="navbar-toggle" aria-label="Tour menu"  data-toggle="collapse" data-target="#myTourMenu">
											<span class="icon-bar"></span>
											<span class="icon-bar"></span>
											<span class="icon-bar"></span>                        
										</button>
										<!-- <a class="navbar-brand hidden-sm">Tour menu-></a> -->
										</div>
										<div>
										<div id="myTourMenu" class="collapse navbar-collapse" >
											<ul class="nav navbar-nav">
												<li><a href="#Gallery"> {% trans 'Gallery' %}</a></li>
												<li><a href="#Description">{% trans 'Description' %}  </a></li>
												<li><a href="#Itinerary"> {% trans 'Itinerary' %} </a></li>
												<li><a href="#Highlights">{% trans 'Highlights' %}  </a></li>
												<li><a href="#Inclusions"> {% trans 'Inclusions' %} </a></li>


												<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">{% trans 'More' %}  <span class="caret"></span></a>
													<ul class="dropdown-menu">
														<li><a href="#Exclusions">{% trans 'Exclusions' %}   </a></li>
														<li><a href="#Pricelist">{% trans 'Pricelist' %} </a></li>
														<li><a href="#ImportantNotes">{% trans 'Important Notes' %} </a></li>
														<li><a href="#Departures">{% trans 'Departures' %} </a></li>

													</ul>
												</li>
											</ul>
										</div>
										</div>
									</div>
								</nav>	
							</div>
					</div>
					<div class="row">
						
						<div class="col-md-8 col-sm-12">
							
							<!-- ============ Photos =================== -->
							<div class="row" id="Gallery">
								<div class="tr-single-box">
									<div class="tr-single-header">
										<h4><i class="ti-gallery"></i>{% trans 'Gallery' %}</h4>
									</div>
									<div class="tr-single-body">
										<ul class="gallery-list">
											{% if photos %}
												{% for photo in photos %}
												<li>
													<a data-fancybox="gallery" href="{{photo.image.url}}">
														<img src="{{photo.image_thumbnail.url}}" class="img-responsive" alt="{{photo.caption}}">
													</a>
												</li>
												{% endfor %}
											{% else %}
											 <em style="font-size: smaller;">
												 {% trans 'No photos have been added to this tour gallery :(' %}</em>
											{% endif %}
												
										</ul>
									</div>
								</div>
							</div>
							
							<!-- Description -->
							<div class="row" id="Description">
								<div class="tr-single-box">
									<div class="tr-single-header">
										<h4><i class="ti-files"></i>{% trans 'Description' %}</h4>
									</div>
									<div class="tr-single-body"> 
										{{tour.Description}}
									</div>
								</div>
							</div>
							<!-- Itinerary -->
							<div class="row" id="Itinerary">
								<div class="tr-single-box">
									<div class="tr-single-header">
										<h4><i class="fa fa-star-o"></i>{% trans 'Itinerary' %}</h4>
									</div>
									<div class="tr-single-body">
										<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
												<style>
													.ITcollapsible {
														background-color: white;
														/* #f6f8fb; */
														/* color: black; */
														cursor: pointer;
														padding: 15px 18px;
														margin-top:5px;
														width: 100%;
														border: none;
														text-align: left;
														outline: none;
														font-size: 15px;
														border: 1px solid #eceef3;
														color: #70778b;
													}
													
													.active.ITcollapsible:hover {
														/* background-color: #f6fffb; */
														background-color: #0fb76b;
														color:white;

														
													}
													.active.ITcollapsible {
														/* background-color: #f6fffb; */
														background-color: #7e978c;
														color:white;

														
													}
													/* added  */
													.active.ITcollapsible:hover::after {
														/* background-color: #f6fffb; */
														/* background-color: #0fb76b; */
														color:white;

														
													}
													.ITcollapsible:after {
														content: '\002B';
														color:#0fb76b;
														font-weight: bold;
														float: right;
														margin-left: 10px;
													}
													
													.ITcollapsible.active:after {
														content: "\2212";
														color: white;
														/* color:#0fb76b; */
													}
													
													.contentIT {
														padding: 0px 18px;
														max-height: 0;
														overflow: hidden;
														transition: max-height 0.4s ease-out;
														background-color: white;
													}
												</style>
											{% for itinerary in itineraries %}
											<button aria-label="{% trans 'Itinerary title' %}"  class="ITcollapsible">{{ itinerary.Title }}</button>
											<div class="contentIT">
												<div style="padding: 15px 0px;">
													{% if itinerary.Image %}
														<img src="{{ itinerary.Image.url }}" width="100%" class="img-resposive" style="margin-bottom:10px;" alt="{{itinerary.Title}}">
													{% endif %}
													{{ itinerary.Description }}
												</div>
											</div>
											{% empty %}
											<p>
												<i style="font-size: smaller; color:grey;"> 
													{% trans 'No itineraries have been added for this tour yet.' %}
												</i>
											</p>
											{% endfor %}

											<script>
												var coll = document.getElementsByClassName("ITcollapsible");
												var i;
												
												for (i = 0; i < coll.length; i++) {
													coll[i].addEventListener("click", function() {
													this.classList.toggle("active");
													var content = this.nextElementSibling;
													if (content.style.maxHeight){
														content.style.maxHeight = null;
													} else {
														content.style.maxHeight = content.scrollHeight + "px";
													} 
													});
												}
											</script>
											
										</div>
									</div>
								</div>
							</div>
							<!-- Highlights -->
							<div class="row" id="Highlights">
								<div class="tr-single-box">
									<div class="tr-single-header">
										<h4><i class="ti-crown"></i>{% trans 'Highlights' %}</h4>
									</div>
									<div class="tr-single-body">
										<ul class="amenities" >
											{% for highlight in tour.Highlights %}
											<li>{{highlight}}</li> <br>
											{% endfor %}
										</ul>
									</div>
								</div>
							</div>
							<!-- Inclusions -->
							<div class="row" id="Inclusions">
								<div class="tr-single-box">
									<div class="tr-single-header">
										<h4><i class="fa fa-check"></i>{% trans 'Inclusions' %}</h4>
									</div>
									<div class="tr-single-body">
										<ul class="amenities">
											{% for Inclusion in tour.Inclusions %}
											<li style="display: block;">{{Inclusion}}</li>
											{% endfor %}	
										</ul>
									</div>
								</div>
							</div>

							<div class="row" id="Exclusions">
								<div class="tr-single-box">
									<div class="tr-single-header">
										<h4><i class="fa fa-ban"></i>{% trans 'Exclusions' %}</h4>
									</div>
									<div class="tr-single-body">
										<ul class="amenities">
											{% for exclusion in tour.Exclusions %}
											<li style="display: block;">{{exclusion}}</li>
											{% endfor %}
										</ul>
									</div>
								</div>
							</div>	
							<!-- Pricelist -->
							<div class="row" id="Pricelist">
								<div class="tr-single-box">
									<div class="tr-single-header">
										<h4><i class="fa fa-dollar"></i>{% trans 'Price list' %}</h4>
									</div>
									<div class="tr-single-body">
										<p>
											{% if not tour.Price == 0 %}
												{% trans 'Starting price of tour' %}:
												<span style="font-weight:bold; font-size:larger;">
													{{tour.Price |floatformat:"0"}} {% trans 'USD' %}
												</span>
											{% else %}
												<span style="font-weight:bold; font-size:unset; font-style:italic;">
													{% trans 'Price upon request' %}
												</span>
											{% endif %}
										</p>
									</div>
								</div>
							</div>

							{% if not tourImportantNotes == None  %}
							<!-- Important Notes -->
							<div class="row" id="ImportantNotes">
								<div class="tr-single-box">
									<div class="tr-single-header">
										<h4><i class="ti-files"></i>{% trans 'Important Notes' %}</h4>
									</div>
									<div class="tr-single-body">
										<ul class="simple-features-list" >
											{% for note in tourImportantNotes %}
												<li>{{note}}</li>	 
											{% endfor %}
										</ul>
									</div>
								</div>
							</div>
							{% endif %}
							
							{% if departures %}
							<!-- Departures  -->
							<div class="row" id="Departures">
								<div class="tr-single-box">
									<div class="tr-single-header">
										<h4><i class="ti-calendar"></i>{% trans 'Departures' %}</h4>
									</div>
									<div class="tr-single-body table-responsive">
										
										<table class="table table-striped table-bordered">
											{% if departures %}
											<thead >
												<tr>
														<th>{% trans 'Departing' %}</th>
														<th>{% trans 'Finishing' %}</th>
														<th>{% trans 'Places' %}</th>
													<!-- <th> Places available</th> -->
														<th>{% trans 'Booking' %}</th>
													</tr>
											</thead>
											
											<tbody>
																		
												{% for departure in departures %}
													<tr>
														<td>{{departure.DepartingDate|date:"M d Y, D"}}</td>
														<td>{{departure.FinishingDate}}</td>
														<td>	
															{% if departure.departure_place_availability  %}
																<span style="color:red; font-weight: bold; font-size: smaller; font-style:italic;">
																	{% if departure.departure_place_availability.AvailablePlaces == 1 %}
																		{{departure.departure_place_availability.AvailablePlaces }} {% trans 'place left' %}
																	{% else %}
																		{{departure.departure_place_availability.AvailablePlaces }} {% trans 'place left' %}
																	{%endif%}
																</span>
															{% else %}
															{% trans 'NA' %}
															{% endif %}
														<td>
															<form action="/tours/book-tour/" method="GET">
																<input type="hidden" value="{% if request.REQUEST.next %}{{ request.REQUEST.next }}{% else %}{% if request.META.HTTP_REFERER %}{{ request.META.HTTP_REFERER }}{% else %}/{% endif %}{% endif %}" name="next" />
																<input type="hidden" value="{{departure.id}}" name="depid" />
																<button type="submit" aria-label="{% trans 'Book tour' %}"  class="btn btn-success">{% trans 'Book' %}</button>
															</form>
														</td>
													</tr>
								
													
												{% empty %}
													<p><i>{% trans 'No departures have been added for this tour.' %}</i></p>
												{% endfor %}
							
											</tbody>
											{% endif %}
										</table>
										
									</div>
								</div>
							</div>
							{% endif %}

							{% if trip_related %}
							<!-- Related Trips -->
							<div class="row" id="RelatedTrips">
								<div class="tr-single-box">
									<div class="tr-single-header">
										<h4><i class="ti-thumb-up"></i>{% trans 'You may also like' %}</h4>
									</div>
									<div class="tr-single-body">
										<div class="row">
											{% for rt in trip_related %}
											<div class="col-sm-4 similar-item" >
												<div>
													<p class="tour-activities">{% for activity in rt.tourActivities.all %} {{activity}}{%if not forloop.last %},{%endif %} {%endfor%}</p>
													<img src="{{rt.image_thumbnail.url}}" class="card-img-top img-responsive" alt="{{rt.Title}}">
													{% if not rt.Price == 0 %}
													<p class="similar-item-price">
														{% trans 'Starts from' %} ${{rt.Price|floatformat:"0"}}/{% trans 'pax' %} 
													</p>
													{% else %}
													<p class="similar-item-price">
														{% trans 'Price on request' %}
													</p>
													{% endif %}
													<h5 class="card-title"><a href="{{rt.get_absolute_url}}">{{rt.Title}}</a> </h5>
												</div>	
											</div>
											{% endfor %}
										</div>

									</div>
								</div>
							</div>
							{% endif %}

						</div>
					
						<!-- Sidebar Start -->
						<div class="col-md-4 col-sm-12" >
							
							<!-- Tourist Overview -->
							<div class="tr-single-box" >
									
								<div class="tr-single-header">
									<h4>{% trans 'Brief info' %} </h4>
								</div>
								
								<div class="tr-single-body">
									<div class="row">
										
										<div class="col-sm-6 col-md-12"> 
											<p>
												<strong>{% trans 'Tour code' %}:</strong> <span>{{tour.TourCode}}</span>
											</p>
											<p>
												<strong>{% trans 'Tour type' %}:</strong> 
												{% for tourType in tour.tourTypes.all %}
												<span>
												{{tourType}}{% if not forloop.last  %},{%endif  %}
												</span>
												{% endfor %}
											</p>
											<p>
												<strong>{% trans 'Duration' %}:</strong> <span>{{tour.Duration}} days</span>
											</p>
											<p>
												<strong>{% trans 'Activity' %}:</strong> 
												
												<!-- <span>{{tour.Activities}}</span> -->
												{% for tourActivity in tour.tourActivities.all %}
												<span>{{tourActivity}}</span>{% if not forloop.last  %},{%endif   %}
												{% endfor %}

											</p>
											<p>
												<strong>{% trans 'Destination' %}:</strong> <span>{{tour.Destination.Area}}</span>
											</p>
										</div>
										<div class="col-sm-6 col-md-12">
											<p>
												<strong>{% trans 'Route' %}:</strong> <span>

														{% for Route in tour.Route %}
															{{Route}}
															{% if not forloop.last %}<i class="fa fa-long-arrow-right" style="color:#0fb76b;" aria-hidden="true"></i>{% endif %}
														{% endfor %}
												</span>
											</p>
											<p>
												<strong>{% trans 'Seasonality' %}:</strong> <span>{{tour.Seasonality}}</span>
											</p>
											<p>
												<strong>{% trans 'Starting Point' %}:</strong> <span>{{tour.StartingPoint }}</span>
											</p>
											<p>
												<strong>{% trans 'Ending Point' %}:</strong> <span>{{tour.EndingPoint}}</span>
											</p>
										</div>
										
									</div>
								</div>
								
							</div>
							
							<!-- overview & booking Form -->
							<div class="tr-single-box">
								<div class="tr-single-header">
									<h4>{% trans 'Why booking with us?' %} </h4>
								</div>
								<div class="tr-single-body">
									<div class="row">
										<div class="col-xs-12">
											<ul class="simple-features-list">
												<li>{% trans 'Best price guarantee' %}</li>
												<li>{% trans 'Ready tours' %}</li>
												<li>{% trans 'Tailor-made tours' %}</li>
												<li>{% trans 'Free cancelation' %}</li>
												<li>{% trans 'The best service provider' %}</li>
											</ul>
										</div>
									</div>
										
									<div class="row">
										<div class="col-xs-12 mrg-top-15">
											<form action="/tours/booking/" method="GET">
												<input type="hidden" value="{% if request.REQUEST.next %}{{ request.REQUEST.next }}{% else %}{% if request.META.HTTP_REFERER %}{{ request.META.HTTP_REFERER }}{% else %}/{% endif %}{% endif %}" name="next" />
												<input type="hidden" value="{{tour.id}}" name="tid" />
												<input type="submit" class="btn btn-arrow theme-btn full-width" value="{% trans 'Book now' %}" />
											</form>
										</div>
									</div>
										
								</div>
							</div>
							
							
						</div>
						<!-- /col-md-4 -->
					</div>
				</div>
			</section>
			<!-- ============== Tour Detail ====================== -->
			
			<!-- end Main Wrapper -->
			{% endblock mainWrapper %} 	

		{% block SMMMetaTags %}
		<meta name="title" content="{{tour.Title}} | {% trans 'Tours' %} - Pakol Travel">
		<meta name="description" content="{{tour.ShortDesc|truncatechars:160}}">
		<link rel="canonical" href="https://{{ request.META.HTTP_HOST }}{{ request.path }}" />

		<!-- Open Graph -->
		<meta property="og:type" content="website" />
		<meta property="og:title" content="{{tour.Title}} | {% trans 'Tours' %} - Pakol Travel" />
		<meta property="og:description" content="{{tour.ShortDesc|truncatechars:160}}" />
		<meta property="og:image" content="https://{{ request.META.HTTP_HOST }}{{tour.Image.url}}" />
		<meta property="og:image:width" content="1200" />
		<meta property="og:image:height" content="768" />
		<meta property="og:image:alt" content="{{tour.Title}}" />
		<meta property="og:image:type" content="image/jpg" />
		<meta property="og:url" content="https://{{ request.META.HTTP_HOST }}{{ request.path }}" />
		<meta property="og:site_name" content="DiscoverThePamirs.com" />
		<!-- Twitter Cards -->
		
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:site" content="@discovThePamirs">
		<meta name="twitter:creator" content="@SaidmamadG">
		<meta name="twitter:title" content="{{tour.Title}} | {% trans 'Tours' %} - Pakol Travel">
		<meta property="og:description" content="{{tour.ShortDesc|truncatechars:160}}" />
		<meta name="twitter:image" content="https://{{ request.META.HTTP_HOST }}{{tour.Image.url}}">
		<meta name="twitter:widgets:new-embed-design" content="on"/>
		<meta name="twitter:widgets:csp" content="on"/>
		{% endblock SMMMetaTags %}