{% extends 'base.html' %}
{% load static %}{% load i18n %}
			{% block title %}{{tour.Title}} | Pakol Travel{% endblock title %}
			
			{% block mainWrapper %}
            <section id="breadcrumb" class="breadcrumb-section position-relative" data-background="/static/img/banner/banner-bg.jpg">
                <span class="breadcrumb-overlay position-absolute"></span>
                <div class="container">
                    <div class="breadcrumb-content text-center headline">
                        <h2>
                            {{tour.Title}}
                        </h2>
                        <div class="breadcrumb-item ul-li">
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Activities Details</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End of breadcrumb section
               ============================================= -->
            <!-- Start of activity details section
               ============================================= -->
            <section id="activity-details" class="activity-details-section">
                <div class="container">
                    <div class="activity-details-content">
                        <div class="row">
                            <div class="col-lg-9">
                                <div class="activity-details-tab-area">
                                    <!-- Slider  -->
                                    <div id="activity-slider-2" class="owl-carousel">
                                        {% for photo in slider_photos %}
                                        <div class="slider-activity-item-2 position-relative">
                                            <div class="slider-main-img img-zooming" data-background="{{photo.image.url}}"></div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                    <div class="activity-details-tab-wrapper">
                                        <div id="overview">
                                            <div class="activity-details-overview headline pera-content">
                                                <div class="activity-overview-text">
                                                    <h3 class="c-overview-title">Activity Details</h3>
                                                    {{tour.Description}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
        
                                </div>
        
                                
        
                                <div class="activity-block style-2">
        
                                    <div class="activity-block-header">
                                        <a data-toggle="collapse" data-parent="#features" data-target="#features-block" aria-controls="features-block" href="javascript:void(0);" aria-expanded="true" class="">
                                            <h4 class="activity-block-title">Detail &amp; Features</h4>
                                        </a>
                                    </div>
                                    <div id="features-block" class="panel-collapse collapse show" aria-labelledby="features-block">
                                        <div class="block-body">
                                            <ul class="activity-detail-features">
                                                <li><strong>Activity:</strong>
                                                    {% for tourActivity in tour.tourActivities.all %}
                                                    <span>{{tourActivity}}</span>{% if not forloop.last  %},{%endif   %}
                                                    {% endfor %}
                                                </li>
                                                <li><strong>Tour Type:</strong>
                                                    {% for tourType in tour.tourTypes.all %}
                                                    <span>
                                                    {{tourType}}{% if not forloop.last  %},{%endif  %}
                                                    </span>
                                                    {% endfor %}
                                                </li>
                                                <li><strong>Duration</strong>{{tour.Duration}} days</li>
                                                <li><strong>{% trans 'Route' %}</strong>
                                                {% for Route in tour.Route %}
                                                    {{Route}}
                                                    {% if not forloop.last %}<i class="fa fa-arrow-right"  aria-hidden="true"></i>{% endif %}
                                                {% endfor %}
                                                </li>
                                                <li><strong>Seasonality:</strong>{{tour.Seasonality}}</li>
                                                
                                                <li><strong>Max People:</strong>12 pax</li>
                                                <li><strong>Pickup:</strong>Airport</li>
                                                <li><strong>Live Tour Guide:</strong>English</li>
                                                
                                                <li><strong>Instant Confirmation:</strong>Yes</li>
                                                <li><strong>Status:</strong>Active</li>
                                                <li><strong>Visa Required:</strong>Yes</li>
                                                <li><strong>Masks Required:</strong>Yes</li>
                                                <li><strong>Group Type:</strong>Medium</li>
                                                <li><strong>Assistance:</strong>Yes</li>
                                                <li><strong>Guided Walking:</strong>Yes</li>
                                                <li><strong>Accommodation:</strong>See on itinerary</li>
                                            </ul>
                                        </div>
                                    </div>
        
                                </div>
                                <!-- Single Block Wrap -->
                                <div class="activity-block style-2">
        
                                    <div class="activity-block-header">
                                        <a data-toggle="collapse" data-parent="#amen" data-target="#clpIncludes" aria-controls="clpIncludes" href="javascript:void(0);" aria-expanded="true">
                                            <h4 class="activity-block-title">Includes</h4>
                                        </a>
                                    </div>
        
                                    <div id="clpIncludes" class="panel-collapse collapse show">
                                        <div class="block-body">
                                            <ul class="activity-amenities third color">
                                                {% for Inclusion in tour.Inclusions %}
                                                <li>{{Inclusion}}</li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
        
                                <!-- Itinerary Block Wrap -->
                                <div class="activity-block style-2">
        
                                    <div class="activity-block-header">
                                        <a data-toggle="collapse" data-parent="#itinerary" data-target="#clpItinerary" aria-controls="clpItinerary" href="javascript:void(0);" aria-expanded="true">
                                            <h4 class="activity-block-title">Itinerary</h4>
                                        </a>
                                    </div>
        
                                    <div id="clpItinerary" class="panel-collapse collapse show">
                                        <div class="block-body">
                                            <div class="accordion" id="itinerary-option">
                                                {% for itinerary in itineraries %}
                                                <div class="card">
                                                    <div class="card-header" id="firstItinerary">
                                                        <h2 class="mb-0">
                                                            <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#firstitinerary" aria-controls="firstitinerary">

                                                                {{ itinerary.Title }}
                                                            </button>
                                                        </h2>
                                                    </div>
                                                    <div id="firstitinerary" class="collapse" aria-labelledby="firstItinerary" data-parent="#itinerary-option">
                                                        <div class="card-body">
                                                            <div>
                                                                {% if itinerary.Image %}
                                                                    <img src="{{ itinerary.Image.url }}" width="100%" class="img-resposive" style="margin-bottom:10px;" alt="{{itinerary.Title}}">
                                                                {% endif %}
                                                            </div>
                                                            {{ itinerary.Description }}
                                                        </div>
                                                    </div>
                                                </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
        
                                <!-- Block Gallery -->
                                <div class="activity-block style-2">
        
                                    <div class="activity-block-header">
                                        <a data-toggle="collapse" data-parent="#clpGallery" data-target="#clpGallery" aria-controls="clOne" href="javascript:void(0);" aria-expanded="true" class="collapsed"><h4 class="activity-block-title">Gallery</h4></a>
                                    </div>
        
                                    <div id="clpGallery" class="panel-collapse collapse">
                                        <div class="block-body">
                                            <ul class="list-gallery-inline">
                                                {% for photo in photos %}
                                                <li>
                                                    <a href="{{photo.image.url}}">
                                                        <img src="{{photo.image_thumbnail.url}}" class="img-fluid mx-auto" alt="{{photo.Title}}" />
                                                    </a>
                                                </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
        
                                </div>

                                <!-- Block Departures -->
                                <div class="activity-block style-2">
        
                                    <div class="activity-block-header">
                                        <a data-toggle="collapse" data-parent="#clpDepartures" data-target="#clpDepartures" aria-controls="clOne" href="javascript:void(0);" aria-expanded="true" class="collapsed">
                                            <h4 class="activity-block-title">Departures</h4>
                                        </a>
                                    </div>
        
                                    <div id="clpDepartures" class="panel-collapse collapse">
                                        <div class="block-body">
                                            
                                            <div class="tr-single-body table-responsive">
                                                
                                                <table class="table table-striped table-bordered">
                                                    {% if departures %}
                                                    <thead >
                                                        <tr>
                                                                <th>{% trans 'Departing' %}</th>
                                                                <th>{% trans 'Finishing' %}</th>
                                                                <th>{% trans 'Places' %}</th>
                                                            </tr>
                                                    </thead>
                                                    
                                                    <tbody>
                                                                                
                                                        {% for departure in departures %}
                                                            <tr>
                                                                <td>{{departure.DepartingDate|date:"M d Y, D"}}</td>
                                                                <td>{{departure.FinishingDate}}</td>
                                                                <td>	
                                                                    {% if departure.departure_place_availability  %}
                                                                        <span style="color:red; font-weight: bold; font-size: smaller; font-style:italic;">
                                                                            {% if departure.departure_place_availability.AvailablePlaces == 1 %}
                                                                                {{departure.departure_place_availability.AvailablePlaces }} {% trans 'place left' %}
                                                                            {% else %}
                                                                                {{departure.departure_place_availability.AvailablePlaces }} {% trans 'place left' %}
                                                                            {%endif%}
                                                                        </span>
                                                                    {% else %}
                                                                    {% trans 'NA' %}
                                                                    {% endif %}
                                                                
                                                            </tr>
                                        
                                                            
                                                        {% empty %}
                                                            <p><i>{% trans 'No departures have been added for this tour.' %}</i></p>
                                                        {% endfor %}
                                    
                                                    </tbody>
                                                    {% endif %}
                                                </table>
                                                
                                            </div>

                                        </div>
                                    </div>
        
                                </div>

                            </div>

                            <!-- Sidebar  -->
                            <div class="col-lg-3">
                                <div class="activity-details-widget">
                                    <div class="activity-widget-item">
                                        <div class="activity-table-widget">
                                            <div class="activity-table-list">
                                                <div class="activity-table-item clearfix">
                                                    <span class="table-title float-left"><i class="fas fa-home"></i> Activity </span>
                                                    {% for tourActivity in tour.tourActivities.all %}
                                                    <span class="table-valur float-right">{{tourActivity}}</span>
                                                    {% if not forloop.last  %},{%endif   %}
                                                    {% endfor %}
                                                    
                                                </div>
                                                <div class="activity-table-item clearfix">
                                                    <span class="table-title float-left"><i class="fas fa-clock"></i> Duration </span>
                                                    <span class="table-valur float-right">{{tour.Duration}} days</span>
                                                </div>
                                                <div class="activity-table-item clearfix">
                                                    <span class="table-title float-left"><i class="fas fa-user"></i> Language </span>
                                                    <span class="table-valur float-right">English</span>
                                                </div>
                                                <div class="activity-table-item clearfix">
                                                    <span class="table-title float-left"><i class="fas fa-users"></i> Group </span>
                                                    <span class="table-valur float-right">Medium</span>
                                                </div>
                                            </div>
                                            
                                            <div class="activity-price clearfix">
                                                <span>From: <strong>${{tour.Price|floatformat:"0"}}</strong></span>
                                            </div>
                                           
                                        </div>
                                    </div>
                                    <div class="activity-widget-item">
                                        <div class="activity-latest-widget headline">
                                            <h3 class="widget-title">Request form</h3>
                                            <div class="ask-agent-content pera-content text-center">
                                                <form action="{% url 'tours:details' Slug=tour.Slug %}" method="POST">{% csrf_token %} 
                                                    <p>
                                                        Book the tour <i><b>"{{tour.Title}}"</b></i>
                                                    </p>
                                                    <hr>
                                                    <label for="departures" style="float: left;">Select departure:</label>
                                                    <div class="input-box">
                                                        {% if departures %}
                                                        <select class="selectpicker" id="departures" name="departure_id" style="width: 100%;" data-width="100%">
                                                            {% for dep in departures %}
                                                                <option value="{{dep.id}}"> {{dep.DepartingDate}} </option>
                                                            {% endfor %}
                                                        </select>
                                                        {% else %}
                                                            <select class="selectpicker" id="departures" style="width: 100%;" data-width="100%">
                                                                <option value=""> No fixed departures </option>
                                                            </select>
                                                        {% endif %}
                                                    </div>
                                                    <br> <br> 
                                                    <input type="text" name="firstname" placeholder="First Name">
                                                    <input type="text" name="lastname" placeholder="Last Name">
                                                    <input type="email" name="email" placeholder="Email address">
                                                    <input type="hidden" name="tourid"  value="{{tour.id}}" >
                                                    <textarea name="message">Message</textarea>
                                                    <button type="submit">Send request</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="activity-widget-item">
                                        <div class="activity-latest-widget headline">
                                            <h3 class="widget-title">More Activities</h3>
                                            <div class="activity-latest-item">
                                                {% for trip in trip_related %}
                                                <div class="activity-latest-img-text">
                                                    <div class="activity-latest-img float-left">
                                                        <img src="{{trip.image_thumbnail.url}}" alt="{{trip.Title}}">
                                                    </div>
                                                    <div class="activity-latest-text">
                                                        <a href="{{trip.get_absolute_url}}">
                                                            {{trip.Title}}
                                                        </a>
                                                        <i>Price</i>
                                                        <span>${{trip.Price|floatformat:"0"}}</span>
                                                    </div>
                                                </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
			{% endblock mainWrapper %} 	

		{% block SMMMetaTags %}
		<meta name="title" content="{{tour.Title}} | {% trans 'Tours' %} - Pakol Travel">
		<meta name="description" content="{{tour.ShortDesc|truncatechars:160}}">
		<link rel="canonical" href="https://{{ request.META.HTTP_HOST }}{{ request.path }}" />

		<!-- Open Graph -->
		<meta property="og:type" content="website" />
		<meta property="og:title" content="{{tour.Title}} | {% trans 'Tours' %} - Pakol Travel" />
		<meta property="og:description" content="{{tour.ShortDesc|truncatechars:160}}" />
		<meta property="og:image" content="https://{{ request.META.HTTP_HOST }}{{tour.Image.url}}" />
		<meta property="og:image:width" content="1200" />
		<meta property="og:image:height" content="768" />
		<meta property="og:image:alt" content="{{tour.Title}}" />
		<meta property="og:image:type" content="image/jpg" />
		<meta property="og:url" content="https://{{ request.META.HTTP_HOST }}{{ request.path }}" />
		<meta property="og:site_name" content="DiscoverThePamirs.com" />
		<!-- Twitter Cards -->
		
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:site" content="@discovThePamirs">
		<meta name="twitter:creator" content="@SaidmamadG">
		<meta name="twitter:title" content="{{tour.Title}} | {% trans 'Tours' %} - Pakol Travel">
		<meta property="og:description" content="{{tour.ShortDesc|truncatechars:160}}" />
		<meta name="twitter:image" content="https://{{ request.META.HTTP_HOST }}{{tour.Image.url}}">
		<meta name="twitter:widgets:new-embed-design" content="on"/>
		<meta name="twitter:widgets:csp" content="on"/>
		{% endblock SMMMetaTags %}