
									
									
									
									
									<!-- Distance -->
									<div class="tr-inner-single-box">
										<div class="tr-single-header">
											<h4>By Distance</h4>
											
										</div>
										<div class="tr-single-body">
											<ul class="side-list-check">
												<li>
													<span class="custom-checkbox">
														<input type="checkbox" id="144">
														<label for="144"></label>
													</span>
													Between 10Km To 100Km
													<span class="pull-right">102</span>
												</li>
												<li>
													<span class="custom-checkbox">
														<input type="checkbox" id="133">
														<label for="133"></label>
													</span>
													Between 100Km To 500Km
													<span class="pull-right">110</span>
												</li>
												<li>
													<span class="custom-checkbox">
														<input type="checkbox" id="122">
														<label for="122"></label>
													</span>
													Between 150Km To 700Km
													<span class="pull-right">56</span>
												</li>
												<li>
													<span class="custom-checkbox">
														<input type="checkbox" id="111">
														<label for="111"></label>
													</span>
													Between 700Km To 1000Km
													<span class="pull-right">18</span>
												</li>
												<li>
													<span class="custom-checkbox">
														<input type="checkbox" id="161">
														<label for="161"></label>
													</span>
													Between 10000Km To 50000Km
													<span class="pull-right">75</span>
												</li>
											</ul>
										</div>
									</div>
									
									<!-- Start Rating -->
									<div class="tr-inner-single-box">
										<div class="tr-single-header">
											<h4>Start Rating</h4>
											
										</div>
										<div class="tr-single-body">
											<ul class="side-list-check">
												<li>
													<span class="custom-checkbox">
														<input type="checkbox" id="11">
														<label for="11"></label>
													</span>
													<div class="search-rating">
														<i class="fa fa-star enable"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
													</div>
													<span class="pull-right">102</span>
												</li>
												<li>
													<span class="custom-checkbox">
														<input type="checkbox" id="12">
														<label for="12"></label>
													</span>
													<div class="search-rating">
														<i class="fa fa-star enable"></i>
														<i class="fa fa-star enable"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
													</div>
													<span class="pull-right">110</span>
												</li>
												<li>
													<span class="custom-checkbox">
														<input type="checkbox" id="13">
														<label for="13"></label>
													</span>
													<div class="search-rating">
														<i class="fa fa-star enable"></i>
														<i class="fa fa-star enable"></i>
														<i class="fa fa-star enable"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
													</div>
													<span class="pull-right">56</span>
												</li>
												<li>
													<span class="custom-checkbox">
														<input type="checkbox" id="14">
														<label for="14"></label>
													</span>
													<div class="search-rating">
														<i class="fa fa-star enable"></i>
														<i class="fa fa-star enable"></i>
														<i class="fa fa-star enable"></i>
														<i class="fa fa-star enable"></i>
														<i class="fa fa-star"></i>
													</div>
													<span class="pull-right">18</span>
												</li>
												<li>
													<span class="custom-checkbox">
														<input type="checkbox" id="15">
														<label for="15"></label>
													</span>
													<div class="search-rating">
														<i class="fa fa-star enable"></i>
														<i class="fa fa-star enable"></i>
														<i class="fa fa-star enable"></i>
														<i class="fa fa-star enable"></i>
														<i class="fa fa-star enable"></i>
													</div>
													<span class="pull-right">75</span>
												</li>
											</ul>
										</div>
									</div>
                                    
                                    

                                    
									<!-- Animinities -->
									<div class="tr-inner-single-box">
										<div class="tr-single-header">
											<h4>Animinities</h4>
											
										</div>
										<div class="tr-single-body">
											<ul class="side-list-check">
												<li>
													<span class="custom-checkbox">
														<input type="checkbox" id="a1">
														<label for="a1"></label>
													</span>
													With guide
													<span class="pull-right">36</span>
												</li>
												<li>
													<span class="custom-checkbox">
														<input type="checkbox" id="b2">
														<label for="b2"></label>
													</span>
													Breakfast
													<span class="pull-right">75</span>
												</li>
												<li>
													<span class="custom-checkbox">
														<input type="checkbox" id="c3">
														<label for="c3"></label>
													</span>
													Musician
													<span class="pull-right">69</span>
												</li>
												<li>
													<span class="custom-checkbox">
														<input type="checkbox" id="d4">
														<label for="d4"></label>
													</span>
													Hot Water
													<span class="pull-right">20</span>
												</li>
												<li>
													<span class="custom-checkbox">
														<input type="checkbox" id="e5">
														<label for="e5"></label>
													</span>
													High Difinition TV
													<span class="pull-right">45</span>
												</li>
											</ul>
										</div>
									</div>
									