
{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}{% load i18n %}

{%block title%} {{post.Title }} | {% trans 'Blog' %} | Pamir Ecotourism {%endblock%}

		{% block mainWrapper %}

		<!-- Bread Crumb STRAT -->
		<section class="bread bread-banner">
			<div class="container">
				<div class="bread-detail text-center d-md-flex align-items-center justify-content-between">
					<h4 class="bread-title mb-3 mb-md-0">{{post.Title}}</h4>
					<div class="bread-crumb">
						<ul>
							<li class="breadcrumb-item"><a href="/"><i class="fa fa-home"></i> Home</a></li>
							<li class="breadcrumb-item"><a href="{% url 'blog:blog' %}">Blog</a></li>
							<li class="breadcrumb-item active"><a href="#">{{post.Title}}</a></li>
						</ul>
					</div>
				</div>
			</div>
		</section>
		<!-- Bread Crumb END -->
	
		  <!--Blog Block Start -->
		  <section class="blog ptb-100">
			<div class="container">
			  <div class="row">
				<div class="col-xl-8 col-lg-8">
				  <div class="blog-listing">
					<!-- single-post -->
					<div class="row">
					  <div class="col-12 mb-30">
						<div class="blog-item">
						  <div class="single-blog-media view view-tenth text-left">
							<!-- <img src="images/blog/blog_img1_lg.jpg" alt="Pakol Travel">   -->
							<div>
								{% if post.posttype == 'image' %}
								{% if post.find_typecheck == 1 %}
								<img src="{{post.Image.url }}" alt="{{post.Title}}"  style="margin-bottom: 20px;max-width: 100%;
								width: 100%;">
								{% else %}
									<img src="{{post.Image.url }}" alt="{{post.Title}}"  style="margin-bottom: 20px;max-width: 100%;
									width: 100%;">
									{% endif %}
								{% else %}
								<div class="youtube-wrapper">
									<div class="youtube" data-embed="{{post.VideoEmbedCode}}">
										<div class="play-button"></div>
									</div>
								</div>
								{% endif %}
							</div>
							<div class="mt-20">
							  <div class="blog-detail single-blog-detail"> 
								<div class="post-info">
								  <ul class="d-flex align-items-center ">
									<li>
									  <div class="post-date">
										<span><i class="far fa-calendar-alt"></i></span> {{ post.Created|date:"F d, Y" }}
									  </div>
									</li>
									<li>
									  <div class="post-user">
										<a href="#"><span><i class="far fa-user"></i></span> Admin</a>
									  </div>
									</li>
								  </ul>
								</div>
								<h2 class="blog-title mb-10">{{post.Title }}</h2>
								<div class="blog_content">
								  <div class="blog-dec">
									{% autoescape off %} {{post.Content}} {% endautoescape %}
								  </div>
								   

								</div>
							  </div>
							</div>
						  </div>
						</div>
					  </div>
					</div>
					<!-- single-post End -->
	
					<!-- single-post Tag & social Start -->
					<div class="blog_post_footer border-tb ptb-30 mb-30">
					  <div class="row justify-content-between align-items-center">
						<div class="col-xl-12">
						  <ul class="tagcloud text-center text-xl-left">
							{% for tag in post.tags.all %}
							<li><a href="{% url 'blog:tagged' tag.slug %}">#{{ tag }}</a></li>
							{% endfor %}
						  </ul>
						</div>
						
					  </div>
					</div>
					<!-- single-post Tag & social End -->
	
				
				  </div>
				</div>
				<div class="col-xl-4 col-lg-4">
				  <div class="sidebar-block sidebar-block-1 mt-md-30">
					<div class="box-shadow radius-5px p-25 p-xs-15">
					  <div class="sidebar-box mb-30 mb-sm-15">
						<form>
						  <div class="search-box">
							<input type="text" placeholder="Search here..." class="input-text">
							<button class="search-btn"></button>
						  </div>
						</form>
					  </div>
					  
					  <div class="sidebar-box"> <span class="opener plus"></span>
						<div class="sidebar-title">
						  <h3><span>Tags</span></h3>
						</div>
						<div class="sidebar-contant pt-3">
						  <ul class="tagcloud">
							{% for tag in tags %}
								<li><a href="{% url 'blog:tagged' tag.slug %}">{{tag}}</a></li>
							{% endfor %}
						  </ul>
						</div>
					  </div>

					 
					</div>
				  </div>
				</div>
			  </div>
			</div>
		  </section>
		  <!--Blog Block End -->

		{% endblock mainWrapper %} 	

	{% block SMMMetaTags %}
	<meta name="title" content="{{post.Title}}  | {% trans 'Blog' %} - Pakol Travel">
	<meta name="description" content="{{post.ShortDesc|truncatechars:160}}">
	<link rel="canonical" href="https://{{ request.META.HTTP_HOST }}{{ request.path }}" />
	<!-- Open Graph -->
	<meta property="og:type" content="article" />
	<meta property="og:title" content="{{post.Title}} | {% trans 'Blog' %} - Pakol Travel" />
	<meta property="og:description" content="{{post.ShortDesc|truncatechars:160}}" />
	<meta property="og:image" content="https://{{ request.META.HTTP_HOST }}{{post.Image.url}}" />
	<meta property="og:image:width" content="1200" />
	<meta property="og:image:height" content="768" />
	<meta property="og:image:alt" content="{{post.Title}}" />
	<meta property="og:image:type" content="image/jpg" />
	<meta property="og:url" content="https://{{ request.META.HTTP_HOST }}{{ request.path }}" />
	<meta property="og:site_name" content="DiscoverThePamirs.com" />
	<!-- Twitter Cards -->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@discovThePamirs">
	<meta name="twitter:creator" content="@SaidmamadG">
	<meta name="twitter:title" content="{{post.Title}} | {% trans 'Blog' %} - Pakol Travel">
	<meta name="twitter:description" content="{{post.ShortDesc|truncatechars:160}}">
	<meta name="twitter:image" content="https://{{ request.META.HTTP_HOST }}{{post.Image.url}}">
	{% endblock SMMMetaTags %}


